/* Fonts imported from Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&display=swap");

/* General settings */

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  color: #2c2c2c;
  background-color: #faf6f5;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navigation */

.topbar {
  position: relative;
  width: 100%;
  background-color: #e0d2cc;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgb(194, 194, 194);
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
}

.logo img {
  width: 120px;
  margin-left: 30px;
  /* border: 3px solid grey; */
}

#menu-toggle {
  margin-left: 40px;
  font-size: 200%;
  color: #935050;
  cursor: pointer;
  display: none;
}

#toggle-logic {
  display: none;
}

#toggle-logic:checked ~ .navbar {
  display: block;
}

.navbar {
  align-self: flex-end;
  padding-bottom: 15px;
}

.link-menu {
  display: inline-block;
  margin-right: 50px;
  padding-bottom: 15px;
  border-bottom: 4px solid rgba(70, 70, 70, 0);
  transition: border-bottom 0.3s;
}

.link-menu a {
  text-decoration: none;
  color: #2c2c2c;
}

.link-menu:hover {
  border-bottom: 4px solid rgb(90, 90, 90);
}

.btn-menu {
  text-decoration: none;
  position: relative;
}

.btn-menu i {
  color: #935050;
  font-size: 150%;
  margin-right: 30px;
  transition: color 0.3s;
}

.btn-menu i:hover {
  color: #754040;
}

#cart-item-count {
  background-color: #a97b7b;
  display: inline-block;
  padding: 5px 7px;
  color: white;
  font-size: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 20%;
  opacity: 0;
  transition: 0.3s;
}

.shopping-cart-quickview{
  position: absolute;
  background-color: #f0e9e5;
  padding: 40px 60px;
  top: 140px;
  right: 10px;
  box-shadow: 0 1px 3px rgb(194, 194, 194);
  z-index: 1;  
  transition: all 0.3s;
  display: none;
  overflow: hidden;
}

.shopping-cart-quickview.animate-close{
  animation-name: swipe;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;  
}

@keyframes swipe{
  30%{
    right: 5px;
  }
  99%{
    right: 100%;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

.shopping-cart-quickview.visible{
  display: block;
}

.shopping-cart-quickview:hover{
  background-color: #ebe5e1;
}

.cart-quickview-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 150%;
  font-weight: 200;
}

.shopping-cart-clear{
  cursor: pointer;
  font-size: 70%;
  font-weight: 200;
  transition: all 0.3s;
}

.shopping-cart-clear:hover{
  color: rgb(151, 114, 120);  
}

.cart-quickview-items{
  cursor: pointer;
}

.cart-quickview-items li{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-quickview-items li span:first-of-type{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cart-quickview-items li img{
  width: 20px;
}

.cart-quickview-items li span:last-of-type{
  margin-left: 60px;
}

.cart-clear-screen{
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #e0d2cc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-weight: 100;
  transition: 0.3s;
}

.cart-clear-screen.visible{
  left: 0;
}

.offset{
  margin-bottom: 8rem;
}

footer {
  background-color: #e0d2cc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 90%;
  padding: 30px 50px 60px 50px;
  z-index: 2;
  position: relative;
}

.footer-links {
  flex-direction: column;
  columns: 2;
  column-gap: 150px;
  /* padding: 15px 0 40px 30px; */
}

.footer-links li {
  padding-top: 12px;
}

.footer-links li a {
  text-decoration: none;
  color: #2c2c2c;
  transition: all 0.3s;
}

.footer-links li a:hover {
  color: rgb(50, 50, 50);
}

.footer-socials {
  list-style-type: none;
  align-self: flex-end;
  margin-right: 50px;
}

.footer-socials li {
  display: inline-block;
  margin-left: 10px;
  align-self: flex-end;
}

.footer-socials li a {
  font-size: 200%;
  color: #935050;
  transition: 0.3s;
}

.footer-socials li a:hover {
  color: #6d3b3b;
}
